#exportPattern("^[[:alpha:]]+")
import("lattice")

export("pdclust")
export("symmetric.alpha.divergence")
export("pdc.dist")
export("entropy.heuristic")
export("codebook")
export("plot.pdclust")
export("print.pdclust")
export("plot.mine")
export("print.mine")
export("loo1nn")
